    /* style tag'ın içine yazdığımız tüm kodlar CSS'dir. */
    
    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: green;
        border: 2px solid #059862;
        border-radius: 25px 0 25px 0;
        padding: 25px;
        transition: all 1s;
        /*geçişlerin ne kadar sürede olacağı. Yazmazsak geçişler hızlı olur*/
    }
    
    p:hover {
        border-radius: 0;
        border-radius: 0 25px 0 25px;
        box-shadow: 5px 3px;
        border-color: black;
        transform: scale(1.1);
        /*Büyütünce gözükmüyor ama olsun denemelik*/
    }
    
    .ozel {
        color: blueviolet;
        font-weight: bolder;
    }
    
    .indirim {
        text-decoration: underline;
    }
    
    .ozel.indirim {
        color: red;
    }
    
    body>ol>li:nth-child(6)>ol>li:nth-child(1) {
        color: blue;
    }
    
    #img-avatar {
        border: 2px solid black;
        border-radius: 10px;
        box-shadow: 5px 3px;
    }
    
    li:nth-child(odd) {
        background-color: lightseagreen;
    }
    
    li:nth-child(even) {
        background-color: lightgreen;
    }
    
    table tr:nth-child(odd) {
        background-color: black;
        color: white;
    }
    
    table tr:nth-child(even) {
        background-color: antiquewhite;
        color: black;
    }
    
    tbody>tr:nth-child(1) {
        background-color: transparent;
    }